* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* :root {
    --primary-color: #FF42A5;
} */

.gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* common styles */
.container-width{
    max-width: 80%;
    margin: 0 auto;
}
.btn-primary {
    font-family: work sans;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 30px;
    background: #FF42A5 ;
    border: 0;
    padding: 10px 20px;
}

.btn-primary:hover {
    color: #E55473;
    background: white;
    border: 1px solid #E55473;
}

.title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
}
p{
    color: #3C354F;
    line-height: 1.5rem;
}

/* nav container styles */
.nav-container {
    /* width: 1366px; */
    width: 100vw;
    height: 130px;
    display: flex;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    /* width: 50%; */
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 30px;
}

.logo-name-color {
    color: #FF42A5;
    margin-left: 20px;
}

.nav-items-container {
    /* width: 50%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 30px;
}

.nav-items-container .button {
    display: inline-block;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 8px;
    border: 0;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
}

.icon-1 {
    font-size: 24px;
    color: #FF0000;
    font-size: 1.5rem;
    margin: 0px 15px;

}

.icon-2 {
    font-size: 1.5rem;
    color: #1877F2;
}

/* header container styles */

.header-container{
    display: flex;
    align-items: center;
}
.header-image-container{
    width: 50%;
}
.header-image-container img{
    width: 90%;
}
.header-sub-title {
    text-transform: uppercase;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.header-content{
    margin: 0 auto;
}
.header-title {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}
.header-list{
    color: #534C64; 
    align-items: center;
    list-style: none;
}
.header-list i{
   margin-right: 10px;

}
.btn-secondary {
    font-family: work sans;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 30px;
    background: #4EC5F7 ;
    border: 0;
    padding: 10px 20px;
    margin-left: 10px;
}

.btn-secondary:hover {
    color: #4EC5F7;
    background: white;
    border: 1px solid #4EC5F7;
}
/* card-container */
.card-container{
    text-align: center;
    margin: 100px 0px;
}
.card-content h1, p{
    margin: 20px 0px;
}
.card-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .card-item {
    width: 90%; 
    max-width: 100%; 
    height: auto;
    display: block;
  }
.card-box p{
    color: #534C64; 
    padding: 0px 20px;
    text-align: left;
  }

  /* anniversary container */
  .anniversary-container{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    text-align: right;
  }
  .annversary-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 50px;
    margin-top: 50px;
  }
  .anniv-title{
    color: #0B0223;
    text-align: right;
    font-size: 2.5rem;
  }
  .img-item-1{
    position: relative;
  }
  .img-item-2{
    top: -150px;
    left: -380px;
    position: relative;
  }
  .img-1{
    width: 100%;
  height: auto; 
  margin-bottom: 10px;
  }
  .img-2{
    width: 40%;
  }

  /* icon-grid-container */
.icon-grid-container{
    display: flex;
    margin: 0 auto;
    padding: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  }
  .grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
.icon-grid img{
    display: flex;
    padding: 0px 5px;
}
.icon-grid{
    color: #534C64; 
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    margin: 10px 0px 30px;
}
.icon-grid:hover{
    border: 2px solid #FF42A5;
    border-radius: 50px;
    padding: 3px 10px;
}
.icon-grid:hover p{
    color: #FF42A5;
}

/* footer section styles */
.footer{
    background-color: #0B0223;
    text-align: center;
    margin: 0 auto;
}
.footer-container{
    padding: 100px;
    width: 80%;
}
.logo{
    display: flex;
    align-items: center;
    width: 100px;
    color: white;
}
.nav-bar {
    text-align: center;
    margin: 50px;
}
.nav-bar > ul{
    display: flex;
}
.nav-bar > ul li{
    list-style: none;
}
.nav-bar li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

/* footer icon */
.footer-icon {
    text-align: center;
    width: 70%;
    padding-bottom: 50px;
}
.footer-icon i{
    font-size: 2rem;
    color: white;
}
/* .footer-icon:hover .twiter-hover{
    color: #1DA1F2;
}
.footer-icon:hover ul li i .facebook-hover{
    color: #1877F2;
} */
.footer-icon > ul{
    display: flex;
}
.footer-icon > ul li{
    list-style: none;
}
.footer-icon li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60); 
    font-size: .8rem;
    font-weight: 400;
}


.nav-bar-bottom {
    text-align: center;
}
.nav-bar-bottom > ul{
    display: flex;
}
.nav-bar-bottom > ul li{
    list-style: none;
}
.nav-bar-bottom li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60); 
    font-size: .8rem;
    font-weight: 400;
}
.copy-right{
    color: rgba(255, 255, 255, 0.60); 
    font-size: .8rem;
}

  